.header {
    background-image:url(images/digital-background.jpg);
    background-position: center;
    height: 235px;
    padding-top: 40px;
    color: white;
    font-family: Arial;
    text-align: center;
    z-index: 9;
}
.header > img {
    border-radius: 50px;
    border: 2px solid white;
    margin-top: 20px;
    z-index: 11;
}
.header > h1 {font-size: 18px;}
.sub-header {
    background-image:url(images/digital-background.jpg);
    background-position: center;
    height: 245px;
    padding-top: 79px;  
    color: white;
    font-family: Arial;
    text-align: center;
    z-index: 9;
}
.sub-header > img {
    border-radius: 50px;
    border: 2px solid white;
    margin-top: 20px;
    z-index: 9;
}
.sub-header > h1 {font-size: 18px;}
.upper {font-size: 22px;}
.email-phone{text-decoration: none; color:white;}
.mainpage {
    font-family:arial;
    color:rgb(89,81,84);
    margin-left: 15%;
    margin-right: 15%;
}
.para {text-align: justify;}
.mainpage > p {text-align: justify;}

body { margin: 0; padding: 0; line-height: 1.5;}

h1 {
    color:White;
    text-align:center;            
}

h2 {
    text-align:center;
    /*background-image:url(images/digital-background.jpg);*/
    background-position: center;
    padding: 5px;
    color:rgb(0, 94, 184);
    opacity: 0.8;
    border-bottom: 3px solid rgba(234, 172, 0, 0.37);

}
p {
    text-decoration: none;
}

.project-pic {
    margin:1%;
    max-width: 450px;
}
.project-pic-small {margin:1%;max-width: 200px;}
.project-pic-med {margin:1%;max-width: 250px;}
.project-pic-large {margin:1%;max-width: 350px;}

.project h2 {
    margin-top: 0;
}

.project-desc{padding: 1%;}
.project {display: inline-block;width: 100%;text-align: justify;}

.position {display:inline-block; vertical-align: middle; }
.pos-box {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.14);
    padding: 10px;
    margin-top: 10px;
}
.pos-proj-box {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.14);
    padding: 10px;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 4%;
    margin-top: 10px;
}
.pos-desc-box {
    margin-left: 9%;
    padding: 0;
    margin-right: 10%;
    border-top: 1px solid rgb(177,179,179);
}
.pos-desc-box p {
    padding: 0;
}
.date {display:table-cell; text-align:right;}

.position-logo {
    width:8%;
    display:inline;
    vertical-align: middle;
    margin-right:10px;  
}
.sub-position-logo {
    width:30%;
    display:inline; 
    vertical-align: middle;
    margin-right:10px;  
}
.expertise, .techskills {
    text-align:center;
}

.company {
    display:inline-table;
    width:100%;
    font-size:14px;
    font-weight:normal;;
}

.company > span {
    display: table-cell;
}

.company > span:first-child {
    text-align:right;
}

.education {
    display:table;
    width:100%;
    font-size:14px;
}
.education > span {
    display: table-cell;
}

.education > span:first-child {
    font-size:16px;
}

.education > span:last-child {
    text-align:right;
}

.navigation ul {
    font-family: arial;
    font-size: 18px;
    height: 39px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: #696969;
    z-index: 10;
}

.navigation li {float: left;}

.navigation li a {
    display: inline-block;
    color: White;
    padding: 6px 24px;
    height: 39px;
    vertical-align: middle;    
    text-decoration: none;
    text-align:center;        
}
/* Change the link color on hover */
.navigation li a:hover{
    background-color: rgb(40, 55, 71);
    color: white;
} 
/*Navigation pane on right*/
.sub-navigation ul {
    font-family: arial;
    font-size: 14px;
    height: 26px;
    list-style-type: none;
    top: 39px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
    z-index: 8;
}
.sub-navigation li {float: left;height: 100%;}
.sub-navigation li a {
    display: inline-block;
    color: rgb(89,81,84);
    height: 22px;
    padding: 2px 16px;
    text-decoration: none;
    text-align:center; 
    height: 100%; 
    z-index: 8;
}
.sub-navigation li a:hover{
    background-color: rgb(40, 55, 71);
    color: white;
    opacity: 0.85;
    z-index: 11;
    height: 100%; 
} 
/*Non-Main pages*/
.sub-mainpage {
    font-family:arial;
    color:rgb(89,81,84);
    margin-left: 10%;
    margin-right: 31%;
}
/*corporate contact links*/
.logolink {
    float:right;
    margin-left: 60%;
    width: 40%;
    color: rgb(89,81,84);
    padding: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    z-index: 10;
    position: fixed;
    overflow: hidden;
}
.logolink ul{
    list-style-type: none;    
    margin: 0;
    padding: 0;
}
.logolink li a {
    display: inline-block;
    color: rgb(89,81,84);
    padding: 0px 0px;
    text-decoration: none;
    text-align:center;
}   
.active {
    background-color: rgb(133, 133, 133);
    color: white;
}

.active li a{
    background-color: rgb(180, 179, 179);
    color: white;
} 

@media screen and (max-device-width:800px) {
    .navigation ul {
        font-size: 36px;
        height: 80px;
    }
    .sub-navigation ul {
        top:50px;
        visibility: hidden;
    }
    .navigation li {vertical-align: middle}
    .navigation li a {
        display: inline-block;
        color: White;
        padding: 10px 22px;
        height: 80px;
        vertical-align: middle;    
        text-decoration: none;
        text-align:center;        
    }
    .icon img {height: 78px;}
    .logolink {width: 25%; margin-left:75%;float: right;}
    .mainpage {
        margin-left: 5%;
        margin-right: 5%;
    }
    .header {height: 280px;padding-top: 79px;}
    .header h1 {font-size: 30px;}
    .header p{font-size:26px;}
    .sub-header {height: 280px;}
    .sub-header h1 {font-size: 30px;}
    .sub-header p{font-size:26px;}    
    .upper {font-size: 34px;}

    .position h3 {font-size: 30px;}
    .position-logo {width:20%;}
    .company {font-size: 20px;}

    p, ul {font-size: 20px;}
    h2 {font-size: 28px;}
    h3 {font-size: 24px;}
    h4 {font-size: 22px}

    
}
